<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>{$meta_title}</title>
    <link rel="stylesheet" href="__CSS__/base.css" type="text/css"/>
    <link rel="stylesheet" href="__CSS__/global.css" type="text/css"/>
    <link rel="stylesheet" href="__CSS__/header.css" type="text/css"/>
    <link rel="stylesheet" href="__CSS__/login.css" type="text/css"/>
    <link rel="stylesheet" href="__CSS__/footer.css" type="text/css"/>
    <block name="css"></block>
</head>
<body>
<!-- 顶部导航 start -->
<div class="topnav">
    <div class="topnav_bd w990 bc">
        <div class="topnav_left">

        </div>
        <div class="topnav_right fr">
            <ul>
                <li id="userinfo"></li>
                <li class="line">|</li>
              

            </ul>
        </div>
    </div>
</div>
<!-- 顶部导航 end -->

<div style="clear:both;"></div>

<!-- 页面头部 start -->
<div class="header w990 bc mt15">
    <div class="logo w990">
        <h2 class="fl"><a href="{:U('Index/index')}"><img src="__IMG__/logo.jpg" alt="蚂蚁活动资源网"></a></h2>
    </div>
</div>
<!-- 页面头部 end -->

<block name="content"></block>

<div style="clear:both;"></div>
<!-- 底部版权 start -->
<div class="footer w1210 bc mt10">
    <p class="links">
        <a href="">关于我们</a> |
        <a href="">联系我们</a> |
    </p>

    <p class="copyright">
        © 2016-2018 蚂蚁资源网版权所有，并保留所有权利。 ICP备案证书号:京ICP证070359号
    </p>

    <p class="auth">
        <a href=""><img src="__IMG__/xin.png" alt=""/></a>
        <a href=""><img src="__IMG__/kexin.jpg" alt=""/></a>
        <a href=""><img src="__IMG__/police.jpg" alt=""/></a>
        <a href=""><img src="__IMG__/beian.gif" alt=""/></a>
    </p>
</div>
<!-- 底部版权 end -->
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/header.js"></script>
<script type="text/javascript">
    $(function(){
        //当页面加载完毕,动态获取当前的用户名
        //您好{$userinfo.username}，欢迎来蚂蚁资源网！[<a href="{:U('Member/login')}">登录</a>] [<a href="{:U('Member/reg')}">免费注册</a>]
        var url = '{:U("Member/userinfo")}';
        $.getJSON(url,function(username){
            console.debug(username);
            if(username){
                var html1 = '您好'+username+'，欢迎来蚂蚁资源网！[<a href="{:U('Member/logout')}">退出</a>]';
                var html2 = '您好，' + username;
            } else{
                var html1 = '您好，欢迎来蚂蚁资源网！[<a href="{:U('Member/login')}">登录</a>] [<a href="{:U('Member/reg')}">免费注册</a>]';
                var html2 = '您好，请<a href="{:U('Member/login')}">登录</a>';

            }
            $('#userinfo').html(html1);
            $('#usertips').html(html2);
        });
    });
</script>
<block name="js"></block>
</body>
</html>