<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加权限 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('index')}">权限管理</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加权限 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">


            <tr>
                <td class="label">权限名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">权限网址</td>
                <td>

                    <input type="text" name="path" maxlength="60" size="62" value="{$row.path}" />
                </td>
            </tr>
            <tr>
                <td class="label">父级权限</td>
                <td>
                    <input type="hidden" name="parent_id" id="permission_id"/>
                    <input type="text" disabled="disabled" id="permission_name"/>
                    <ul id="permissions_ztree" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">权限描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="8"  >{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$row.sort| default = 50}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" value="1" class="status"/> 是
                    <input type="radio" name="status" value="0" class="status" /> 否
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$row.id}" />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
<br />
版权所有 &copy;  蚂蚁网络科技有限公司，并保留所有权利。
</div>
<js href='__JS__/jquery.min.js'/>
<js href='__ZTREE__/js/jquery.ztree.core.js.'/>
<script type='text/javascript'>
    var setting = {
        data: {
            simpleData: {
                enable: true,
                id:'id',
                pIdKey: 'parent_id',
                rootPId:0
            },
        },
        callback:{
            onClick:function(event,item,node){
                //取出点击节点的数据，放到表单节点中
                $('#permission_id').val(node.id);
                $('#permission_name').val(node.name);
            },
        },
    };

    var permissions = {$permissions};
    $(function () {
        //回显商品分类状态
        $('.status').val([{$row.status|default=1}]);
        //初始化ztree插件
        var permissions_ztree = $.fn.zTree.init($("#permissions_ztree"), setting, permissions);
        //展开所有的节点
        permissions_ztree.expandAll(true);

        //编辑页面回显父级分类
        <present name="row">
        //获取父级分类在ztree中的节点
        var parent_permissions_node = permissions_ztree.getNodeByParam('id',{$row.parent_id});
        permissions_ztree.selectNode(parent_permissions_node);
        $('#permission_id').val(parent_permissions_node.id);
        $('#permission_name').val(parent_permissions_node.name);
        </present>
    });
</script>
</body>
</html>